@import './../../../partials/mixins';

.Explore {
    &-title {
        margin: 6rem 2rem 4rem 2rem;
    }
    &-cards {
        @include grid (3, 0rem);
        margin: 1rem 2rem;
        @media (max-width: 1000px) {
            @include grid(1, 0rem);
        }
        .SmallCard-media {
            align-items: center;
        }
    }
}
    