@import './../../partials/mixins';
@import '../../partials/reset';


.Header {
    @include flex (row, nowrap, center, center);
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    &-wrapper {
        @include flex (row, nowrap, space-between, center);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        height: 4.75rem;
        padding: 1rem 2rem;
        width: 100%;
    }
    &-left {
        @include flex (row, nowrap, center, center);
    }
    &-right {
        @include flex (row, nowrap, center, center);
        gap: 0.5rem;
        @media (max-width: 1200px) {
            gap: 2rem;
        }
    }
    
    &-logo {
        max-width: 22px;
        max-height: 35px;
    }
    &-nav {
        .Nav {
            &-ul {
                @include flex (row, nowrap, center, center);
                margin-left: 2rem;
            }
            &-link {
                @include flex (row, nowrap, center, center);
                padding: 0.5rem 0;
                margin-right: 1.5rem;
                .Chevron {
                    max-width: 24px;
                    max-height: 24px;
                    color: #b2b2b2;
                }
                &:hover {
                    color: var(--blue10);
                    .Chevron {
                        color: var(--blue10);
                    }
                }
            }
        }
        @media (max-width: 1200px) {
            display: none;
        }
    }
    .SearchIcon {
        color: #333334;
        width: 1.5rem;
        display: none;
        @media (max-width: 1200px) {
            display: block;
        }
    }
    .Icon {
        &-burger {
            @include flex (column, nowrap, center, center);
            gap: 4px;
            display: none;
            .Burger {
                &-rectangle {
                    width: 20px;
                    height: 2px;
                    background-color: #333334;
                    &:nth-of-type(2){
                        width: 16px;
                    }
                }
            }
            @media (max-width: 1200px) {
                display: flex;
            }
        }
    }
    &-search {
        position: relative;
        .Search {
            &-input {
                position: relative;
                padding: 0.7rem 2.5rem;
                border-radius: 0.25em;
                outline: none;
                border: 1px solid #7f7f7f;
                &:focus {
                    border: 2px solid var(--blue10);
                }
            }
            &-detail {
                line-height: 100%;
                padding: 4px 6px;
                border: 1px solid #7f7f7f;
                border-radius: 0.25em;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: 6px 0;
                right: 0.5rem;

            }
        }
        .SearchIcon {
            display: block;
            width: 1.5rem;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 0.5rem;
            color: var(--grey50);
        }
        @media (max-width: 1200px) {
            display: none;
        }
    }
    &-mode {
        .Container {
            min-width: 2.5rem;
            @include flex (row, nowrap, center, center);
            .Moon {
                width: 1.5rem;
                color: var(--black10);
                &:hover {
                    color: var(--blue10);
                }
            }
        }
        @media (max-width: 1200px) {
            display: none;
        }
    }
    &-language {
        @include flex (row, nowrap, center, center);
        .Container {
            @include flex (row, nowrap, center, center);
            padding-right: 0.5rem;
            .Earth {
                width: 1.5rem;
                color: var(--black10);
            }
        }
        @media (max-width: 1200px) {
            display: none;
        }
        &:hover {
            color: var(--blue10);
            .Earth {
                color: var(--blue10);
            }
        }
    }

}