@import './../../partials/mixins';


.Header {
    @include flex (row, nowrap, space-between, center);
    background-color: white;
    height: 4.75rem;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &-left {
        @include flex (row, nowrap, center, center);
    }
    &-right {
        @include flex (row, nowrap, center, center);
        gap: 0.5rem;
    }
    
    &-logo {
        max-width: 22px;
        max-height: 35px;
    }
    &-nav {
        .Nav {
            &-ul {
                @include flex (row, nowrap, center, center);
                margin-left: 2rem;
            }
            &-li {
                @include flex (row, nowrap, center, center);
                padding: 0.5rem 0;
                margin-right: 1.5rem;
                .Chevron {
                    max-width: 24px;
                    max-height: 24px;
                    color: #b2b2b2;
                }
            }
        }
    }
    &-search {
        position: relative;
        .Search {
            &-input {
                padding: 0.7rem 2.5rem;
                border-radius: 0.25em;
                outline: none;
                border: 1px solid #7f7f7f;
                &:focus {
                    border: 2px solid blue;
                }
            }
        }
        .SearchIcon {
            width: 1.5rem;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 0.5rem;
            color: #b2b2b2;
        }
    }
    &-mode {
        .Container {
            min-width: 2.5rem;
            @include flex (row, nowrap, center, center);
            .Moon {
                width: 1.5rem;
                color: #1a202c;
            }
        }
    }
    &-language {
        @include flex (row, nowrap, center, center);
        .Container {
            @include flex (row, nowrap, center, center);
            padding-right: 0.5rem;
            .Earth {
                width: 1.5rem;
                color: #1a202c;
            }
        }
    }

}