
:root{
    --black10: #1a202c;
    --black20: #333333;
    --blue10: #1c1cff;
    --grey30: #666666;
    --grey50: #b2b2b2;
    --font-main: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



* , *::before , *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

img , picture , video , iframe , figure{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;        
    object-position: center center;
}

a {
display: block;
text-decoration: none;
color:inherit;
font-size:inherit;
}
p a {
display: inline;
}

li {
list-style-type: none;
}

h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
font-size: inherit;
font-weight: inherit;
font-style: inherit;
text-decoration: none;
color:inherit;
font-family: var(--font-main) ;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

::selection {
background-color: var(--black20);
color: white;
}

form , input, textarea, select , button , label{
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    color:inherit;
    display: block;
    font-family: var(--font-main) ;
}

table , tr , td {
border-collapse: collapse;
border-spacing: 0;
}

svg{
    width: 100%;
    display: block;
    fill: currentColor;
}

body {
min-height  : 100vh;
font-size   : 100%;
line-height: 1.6rem;
font-smooth: always;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color: white;
}