@import './../../partials/mixins';
@import '../../partials/reset';

.Footer {
    @include flex (column, nowrap, center, center);
    width: 100%;
    padding: 1rem 2rem;
    &-row {
        @include flex (row, wrap, space-between, flex-start);
        width: 100%;
    }
    &-rowCategories {
        @include flex (row, nowrap, space-between, flex-start);
        width: 100%;
        @media (max-width:1400px) {
            @include flex (row, wrap, space-between, flex-start);
        }
    }

    &-update {
        font-size: 0.875rem;
        color: var(--grey30);
    }
    &-social {
        @include flex (row, nowrap, center, flex-start);
        gap: 1rem;
        margin: 1rem 0;
        .Logo {
            height: 34px;
            color: #b2b2b2;
        }
        .Container {
            width: 34px;
        }
    }
    &-categories{
        @include flex (column, nowrap, space-between, flex-start);
        @media (max-width:1400px) {
            width: 30%;
        }
        @media (max-width:900px) {
            width: 40%;
        }
        @media (max-width:600px) {
            width: 80%;
        }
        .Categories {
            &-title {
                font-size: 0.875rem;
                font-weight: 700;
                color: var(--black10);
                margin: 1rem 0;
            }
            &-link {
                margin-bottom: 1rem;
                color: var(--grey30);
                font-size: 0.875rem;
                &:hover {
                    color: var(--blue10);
                }
            }
        }
    }
}

