@import './../../../partials/mixins';
@import '../../../partials/reset';

.Intro {
    @include flex (column, nowrap, center, center);
    text-align: center;
    padding-top: 4.75rem;
    &-media {
        margin-bottom: 2rem;
        height: 440px;
        overflow: hidden;
        @include flex (column, nowrap, center, center);
    }
    &-info {
        padding: 1rem 0 2rem 0;
        width: 55%;
        .Info {
            &-p {
                font-size: 1.25rem;
                color: var(--grey30);
                margin: 1.45rem 0;
            }
        }
    }
}