@import './partials/reset';
@import './partials/mixins';

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}
h2 {
    font-size: 2rem;
    font-weight: 600;
}
h3 {
    font-size: 1.5rem;
    font-weight: 600;
}
.Button {
    &-primary {
        background-color: #1c1cff;
        color: white;
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 0.2rem;
    }
    &-secondary {
        border: 1px solid black;
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 0.2rem;
    }
}