@import './../../../partials/mixins';

.Start {
    background-color: #fcfcfc;
    padding: 1rem 2rem;
    &-summary {
        @include flex (row, nowrap, center, center);
        @media (max-width: 700px) {
            flex-direction: column;
        }
        .Summary {
            &-info {
                flex: 1;
                .Info {
                    &-container {
                        padding: 6rem;
                    }
                    &-h2 {
                        margin: 0 0 1.5rem;
                    }
                    &-p {
                        font-size: 1.25rem;
                    }
                }
            }
            &-media {
                flex: 1;
            }
        }
    }
    &-cards {
        @include grid (2, 0rem);
        padding: 0 0 6rem 0;
        @media (max-width: 1000px) {
            @include grid(1, 0);
        }
    }
    
}